@import "tailwindcss";


:root {
  background-color: #050505;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 4px;
}